html {
  height: 100%;
}
body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
}
a,
a.link,
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
}
.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.357em;
  color: #000;
}
h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.143em;
}
h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.092em;
}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em; /* LTR */
  vertical-align: -0.4em;
}
[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.2em;
  margin-right: 0;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
.feed-icon {
  display: block;
  margin: 25px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul, ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}
body {
  color: #3b3b3b;
  background: #292929;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #ffffff;
}
.site-branding__logo img {
    width: 100px;
}
a,
.link {
  color: #0071b3;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
a:active,
.link:active {
  color: #23aeff;
}
/* --------------- Secondary Menu ------------ */
.region-secondary-menu {
    width: auto;
    float: right;
}
[dir="rtl"] .region-secondary-menu .menu {
  float: left;
}

.region-secondary-menu .menu {
  text-align: right; /* LTR */
  font-size: 0.929em;
  margin: 0 10px;
  padding: 0;
}
[dir="rtl"] .region-secondary-menu .menu {
  text-align: left;
  margin-right: 10px; /* required to win over specificity of [dir="rtl"] ul.menu */
  margin-left: 10px;
}
.region-secondary-menu .menu-item {
  margin: 0;
  padding: 0;
  display: inline;
}
.region-secondary-menu .menu a {
    display: inline-block;
    padding: 5px 10px;
    background: #c0e5f6;
    margin-top: 3px;
    box-shadow: 0 0 3px #c0e5f6;
    border-radius: 2px;
}
.region-secondary-menu .menu a:hover,
.region-secondary-menu .menu a:focus {
    background: #C0E5D2;
}

.site-footer {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a{
  color: #fffeff;
}

/* ------------------ Header ------------------ */
.header {
  background-color: #2ba9e0;
}
header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .section {
  position: relative;
}
.region-header {
  padding: 0.357em 15px 0;
}
.region-header .site-branding {
  margin-top: 0.429em;
}

/* Region header blocks. */
.region-header .block:not(.site-branding) {
  font-size: 0.857em;
  margin: 0 0 1em;
  clear: right;
}
@media all and (min-width: 901px) {
  .region-header .block:not(.site-branding) {
    margin: 1.167em 0 1em;
  }
}
.region-header .block > h2 {
  /* @extend .visually-hidden */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .branding {
  font-size: 1em;
}
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px; /* LTR */
  width: 120px;
}
[dir="rtl"] .region-header .form-text {
  margin-left: 2px;
  margin-right: 0;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required:after {
  background-image: url(../../images/required.svg);
}
/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 208px;
}
.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}
.region-header .block-menu li:last-child a {
  border-bottom: 0;
}
/* User Login block in the header region. */
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left; /* LTR */
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li:last-child {
  padding-left: 0.5em; /* LTR */
}
.block .content {
  margin-top: 10px;
}
[dir="rtl"] .region-header #block-user-login .item-list li:last-child {
  padding-left: 0;
  padding-right: 0.5em;
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* Search block in header region. */
.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}
.region-header .search-block-form {
  float: right; /* LTR */
}
[dir="rtl"] .region-header .search-block-form {
  float: left;
}

/* Language switcher block in header region. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}
[role*=banner] a {
  border-bottom: none;
}

[dir="rtl"] .branding,
[dir="rtl"] .site-logo,
[dir="rtl"] .site-branding-text,
[dir="rtl"] .region-header #block-user-login .form-item,
[dir="rtl"] .region-header #block-user-login .item-list li {
  float: right;
}
.region-highlighted {
  margin: 0 15px;
}
.page-title {
  font-size: 2em;
  line-height: 1em;
}
.breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.929em;
}
.region-breadcrumb {
  padding: 0 15px 0.25em;
}
.feed-icon {
  border-bottom: none;
  display: inline-block;
  padding: 15px 0 0 0;
}
ul.links {
  color: #68696b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.821em;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* --------------- Primary Menu ------------ */

.region-primary-menu {
  clear: both;
}
.region-primary-menu .menu {
  font-size: 0.929em;
  margin: 0 5px;
  padding: 0;
  text-align: left; /* LTR */
}
[dir="rtl"] .region-primary-menu .menu {
  text-align: right;
  margin-left: 5px; /* This is required to win over specificity of [dir="rtl"] ul.menu */
  margin-right: 5px; /* This is required to win over specificity of [dir="rtl"] ul.menu */
}
.region-primary-menu .menu-item {
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
.region-primary-menu .menu a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: none;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  border-radius: 8px;
  margin: 4px 0;
  padding: 0.9em 0 0.9em 10px; /* LTR */
}
[dir="rtl"] .region-primary-menu .menu a {
  padding: 0.9em 10px 0.9em 0;
}
.region-primary-menu .menu a:hover,
.region-primary-menu .menu a:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
}
.region-primary-menu .menu a:active {
  background: #b3b3b3;
  background: rgba(255, 255, 255, 1);
}
.region-primary-menu .menu-item a.is-active {
  border-bottom: none;
}

/* ---------- Primary Menu Toggle ----------- */
/* Hide the toggle by default. */
.menu-toggle,
.menu-toggle-target {
  display: none;
}
/* Unhide it for the primary menu. */
.region-primary-menu .menu-toggle-target {
  display: inherit;
  position: fixed;
  top: 0;
}
.region-primary-menu .menu-toggle {
  display: none;
}
body:not(:target) .region-primary-menu .menu-toggle {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: none;
  font-size: 0.929em;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  padding: 0.9em 10px 0.9em 10px;
  z-index: 1000;
}
body:not(:target) .region-primary-menu .menu-toggle:after {
  content:"";
  background: url(../../../../misc/icons/ffffff/hamburger.svg) no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  right: 10px; /* LTR */
}
[dir="rtl"] body:not(:target) .region-primary-menu .menu-toggle:after {
  right: initial;
  left: 10px;
}
body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle,
body:not(:target) .region-primary-menu .menu-toggle--hide {
  display: none;
}
body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu-toggle--hide {
  display: block;
}

body:not(:target) .region-primary-menu .menu-item {
  height: 0;
  overflow: hidden;
}
body:not(:target) .region-primary-menu .menu-toggle-target-show:target ~ .menu .menu-item {
  height: auto;
  overflow: visible;
}

/**
 * Media queries for primary menu.
 */
@media all and (min-width: 461px) and (max-width: 900px) {
  .region-primary-menu .menu {
    margin: 0 5px;
    padding: 0;
    text-align: center;
  }
  /* This is required to win over specificity of the global [dir="rtl"] .region-primary-menu .menu */
  [dir="rtl"] .region-primary-menu .menu {
    text-align: center;
  }
  .region-primary-menu .menu-item,
  body:not(:target) .region-primary-menu .menu-item {
    float: left; /* LTR */
    margin-right: 5px; /* LTR */
    padding: 0;
    display: inline-block;
    width: 32.75%;
    height: auto;
    overflow: visible;
  }
  [dir="rtl"] .region-primary-menu .menu-item,
  [dir="rtl"] body:not(:target) .region-primary-menu .menu-item {
    float: right;
    margin-left: 5px;
    margin-right: 0;
  }
  .region-primary-menu .menu-item:nth-child(3n) {
    margin-right: -5px; /* LTR */
  }
  [dir="rtl"] .region-primary-menu .menu-item:nth-child(3n) {
    margin-left: -5px;
    margin-right: 0;
  }
  .region-primary-menu .menu a {
    float: none;
    display: block;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 0.9em 5px;
  }
  /* This is required to win over specificity of the global [dir="rtl"] .region-primary-menu .menu a */
  [dir="rtl"] .region-primary-menu .menu a {
    padding: 0.9em 5px;
  }
  body:not(:target) .region-primary-menu .menu-toggle {
    display: none;
  }
}

@media all and (min-width: 901px) {
  .region-primary-menu .block-menu .menu {
    font-size: 0.929em;
    margin: 0;
    padding: 0 15px;
  }
  .region-primary-menu .menu-item,
  body:not(:target) .region-primary-menu .menu-item {
    float: left; /* LTR */
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
    width: auto;
    height: auto;
    overflow: visible;
  }
  [dir="rtl"] .region-primary-menu .menu-item,
  [dir="rtl"] body:not(:target) .region-primary-menu .menu-item {
    float: right;
  }
  .region-primary-menu .menu a {
    float: left; /* LTR */
    padding: 0.7em 0.8em;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  [dir="rtl"] .region-primary-menu .menu a {
    float: right;
    padding: 0.7em 0.8em;
  }
  .featured .region-primary-menu .menu-item a:active,
  .featured .region-primary-menu .menu-item a.is-active {
    background: #f0f0f0;
    background: rgba(240, 240, 240, 1.0);
  }
  body:not(:target) .region-primary-menu .menu-toggle {
    display: none;
  }
}

.main-content .section {
  padding: 0 15px;
}
.main-content h2 {
  font-size: 1.429em;
  line-height: 1.4;
}

/* This is needed to override ul.menu styles in menu.theme.css */
ul.menu {
  margin: 0;
  padding: 0 0 0.25em 0;
}

/* This is needed to override [dir="rtl"] ul.menu styles in menu.theme.css */
[dir="rtl"] ul.menu {
  margin: 0;
}

.node__content {
  font-size: 1.071em;
  margin-top: 10px;
}

/* View mode teaser styles. */
.node--view-mode-teaser {
  border-bottom: 1px solid #2ba9e0;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.node--view-mode-teaser h2 a {
  color: #181818;
}
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
}
.node--view-mode-teaser .node__content .links {
  text-align: right;
}

/* Node metadata styles. */
.node__meta {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.node__meta .field--name-field-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}
[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Node links styles. */
.node__links {
  text-align: right; /* LTR */
  font-size: 0.93em;
}
[dir="rtl"] .node__links {
  text-align: left;
}

/* Unpublished node styles. */
.node--unpublished {
  padding: 20px 15px 0;
}
.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}


/* Using .pager selector on the first one to override .region-content ul. */
.pager .pager__items {
  padding: 0;
}
.pager__item {
  font-size: 0.929em;
  display: inline;
}
.pager__item a {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid #ddd;
  line-height: 1;
}
.pager__item.is-active a {
  color: #3b3b3b;
}
.sidebar .section {
  padding: 10px 15px 0;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

table {
  border: 0;
  border-spacing: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
tr {
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
thead > tr {
  border-bottom: 1px solid #000;
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover,
table tr th a:focus {
  color: #fff;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
[dir="rtl"] tr td,
[dir="rtl"] tr th {
  text-align: right;
}
/* --------------- System Tabs  --------------- */
ul.tabs--primary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
ul.tabs--primary li {
  display: inline;
  margin: 0;
}
[dir="rtl"] ul.tabs--primary li {
  text-align: right;
}
ul.tabs--primary li a {
  color: #000;
  background-color: #c0e5f6;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  line-height: 1.9;
  display: inline-block;
  font-size: 0.929em;  
  padding: 2px 10px 3px;
  border-radius: 3px 3px 0 0;
}
ul.tabs--primary li.active a {
  background-color: #ffffff;
}

ul.tabs--secondary {
  border-bottom: none;
  margin: 5px;
  padding: 0.5em 0;
  overflow: hidden;
}
ul.tabs--secondary li {
  display: inline;
  margin: 0;
}
ul.tabs--secondary li a {
  display: inline;
  padding: 0.25em 0.5em;
  text-decoration: none;
}
ul.tabs--secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  border-radius: 5px;
}

/* Tab styles */
.views-displays .tabs .open > a {
  border-radius: 7px 7px 0 0;
}
.views-displays .tabs .open > a:hover,
.views-displays .tabs .open > a:focus {
  color: #0071B3;
}
.views-displays .secondary .form-submit {
  font-size: 0.846em;
}

/* Tabs action list styles */
.views-displays .tabs .action-list {
  padding: 0;
}

/* Contextual filter options styles */
.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #F9F9F9;
}

/* Views action dropbutton styles */
.views-ui-display-tab-actions .dropbutton .form-submit {
  color: #0071B3;
}
.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
  color: #018FE2;
}
/*page title ans block title style*/
.block-title, .block > h2, h2.node__title, h1.title {
  margin: 10px 0;
  padding: 4px 10px;
  border-left: 5px solid #c0e5f6;
}
.block-title, .block > h2 {
  line-height: 17px;
}
h2.node__title {
    line-height: 1;
}
.block-system-breadcrumb-block li {
    display: inline-block;
    padding-right: 10px;
}
input, textarea, keygen, select, button {
max-width: 100%;
}